/* ==========================================================================
   Sitewide: Icons
   ========================================================================== */
@font-face {
	font-family: 'icons';
	src:url('/media/fonts/icons.eot');
	src:url('/media/fonts/icons.eot?#iefix') format('embedded-opentype'),
		url('/media/fonts/icons.woff') format('woff'),
		url('/media/fonts/icons.ttf') format('truetype'),
		url('/media/fonts/icons.svg#icons') format('svg');
	font-weight: normal;
	font-style: normal;
}

[data-icon]:before {
	font-family: 'icons';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

.icon{
	font-family: 'icons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.icon-reorder:before {
	content: "\f0c9";
}
.icon-remove:before {
	content: "\f00d";
}
.icon-quote-left:before {
	content: "\f10d";
}
.icon-quote-right:before {
	content: "\f10e";
}
.icon-search:before {
	content: "\f002";
}
.icon-star:before {
	content: "\f005";
}
.icon-star-half:before {
	content: "\f089";
}
