/* ====================
	General
   ==================== */
body{
	background-color:#0c0c0c;
}
#hero{
	background-image:url('/media/images/hero.ld.png');
}
#navigation_bar{
	color:white;
}
#navigation{
	background-color:#0c0c0c;
}
.navigation_link{
	color:white;
}

/* == General: Mobile == */


/* == General: Tablet == */


/* == General: Desktop == */
