/* ==========================================================================
   Landing: General
   ========================================================================== */
.section{
	width:100%;
}
.section_inner{
	padding:0.5em 1em;
}

@media all and (min-width: 600px) {
	.section_inner{
		padding:1em 2em;
	}
}